/* Write your code here. */
.emoji-item {
  list-style-type: none;
  width: 20%;
  margin: 10px;
}
.emoji-button {
  width: 140px;
  background-color: #ffffff33;
  outline: none;
  cursor: pointer;
  border: 3px solid #ffffff33;
  border-radius: 12px;
  padding: 20px;
}
.emoji {
  width: 100px;
}
